.header-inner {
  background-color: #fff;

  .navbar-main {
    border-bottom-color: #e1e6ef;
    margin-bottom: 40px;
  }

  .navbar-nav-main > li > a {
    color: #414141;
  }

  .navbar-nav-out > li > a {
    display: none;
  }
}

.navbar-main {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid #777;
  min-height: 77px;
}

.navbar-brand {
  height: auto;
  padding: 18px 26px;

  > img {
    height: 40px;
    width: 114px;
  }
}

.header.header-transparent {
  background-color: transparent;
  position: absolute;
  top: 0px;
  z-index: 1088;
  width: 100%;
}

.fs-hero {
  height: 100vh;
  position: relative;
}

.hero-img {
  background: image-url("banner.png") no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-caption, .page-cover .cover-caption {
  position: absolute !important;
  left: 0;
  min-width: 550px;
  right: 0;
  top: 31%;
}

.navbar-nav-main > li > a {
  color: #fff;
  line-height: normal;
  padding: 30px;
  text-transform: uppercase;

  &:hover, &:focus {
    background-color: transparent;
    color: #1ebbf0;
  }
}

.hero-caption {
  color: #fff;
  h2 {
    font-size: 40px;
    font-weight: bold;
  }
  h3 {
    font-size: 36px;
    margin-bottom: 30px;
    margin-top: 15px;
    span {
      color: #1ebbf0;
      font-weight: bold;
    }
  }
  p {
    font-size: 18px;
    margin-top: 20px;
  }
}

.link-banner {
  box-shadow: inset 0 0 0 3px #fff;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  padding: 12px 25px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s;
  &:hover, &:focus {
    background-color: #1ebbf0;
    box-shadow: inset 0 0 0 3px #1ebbf0;
    color: #fff;
    text-decoration: none;
  }
}
