<%= form_for current_user, url: accept_payment_path do |f| %>
  <div class="field">
    <%= f.label :money %><br />
    <%= f.number_field :money, autofocus: true, value: 0 %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
