<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 center-block">
      <div class="dashboard-card">
        <div class="dashboard-card-header">
          <h1>Forgot your password?</h1>
        </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
              <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: "btn btn-forgot" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
