<header id="menu" class="header header-transparent header-sticky">
  <nav class="navbar navbar-main">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <%= image_tag "logo.png", class: "img-responsive", alt: "" %>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-nav-main navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Login', new_user_session_path %>
            </li>
            <li>
              <%= link_to 'sign up', new_user_registration_path %>
            </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</header>
