<section id="hero">
  <div class="fs-hero hero-img">
    <div class="hero-caption text-white btm-right">
      <div class="container text-container">
        <div class="col-md-6">
          <h2>Feeling lazy to do household chores?</h2>
          <h3>Look no further! <span>haalp!</span> is here.</h3>
          <p>On-demand home service that make life worth while.</p>
          <%= link_to "Get Started", new_user_session_path, class: "link-banner" %>
        </div>
        <%= image_tag "mobile.png", class: "banner-mobile", alt: "" %>
      </div>
    </div><!-- /hero-caption -->
  </div><!-- /hero-img -->
</section>
