<section id="hero">
  <div class="fs-hero hero-img">
    <div class="hero-caption text-white btm-right">
      <div class="container text-center">
        <h2>Feeling lazy to do household chores?</h2>
        <h3>Look no further! <span>haalp!</span> is here.</h3>
        <p>This app lets you post your jobs and people who can do them can apply for it.</p>
        <%= link_to "Get Started", new_user_session_path, class: "link-banner" %>
      </div>
    </div><!-- /hero-caption -->
  </div><!-- /hero-img -->
</section>
