body {
  color: #414141;
  font-family: 'Roboto', sans-serif;

  &.sessions,
  &.registrations,
  &.users,
  &.tasks {
    background-color: #f2f4f8;
  }
}

.center-block {
  float: none;
}

.form-control,
.input-group-addon {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #e6e6e6;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
}

.dashboard-card {
  background: #fff;
  border: 1px solid #e1e6ef;
  margin-bottom: 40px;
  padding: 23px;

  &-header {
    border-bottom: 1px solid #e1e6ef;
    margin-bottom: 25px;
    overflow: hidden;

    h5 {
      color: #414141;
      font-size: 21px;
      font-weight: bold;
      margin: 0 auto;
      padding-bottom: 15px;
    }
  }
}

.btn-post-task {
  background-color: #22bcf0;
  border-radius: 0;
  color: #fff;
  margin-top: 19px;
  padding: 9px 21px;
  transition: background-color 0.3s;

  &:hover,
  &:focus {
    background-color: #06a5da;
    color: #fff;
  }
}

.form-search {
  .bootstrap-select {
    width: 100% !important;

    > .dropdown-toggle {
      border-radius: 0;
      height: 37px;
      margin-bottom: 13px;
    }
  }

  .form-control {
    border-color: #ccc;
    height: 37px;
    margin-bottom: 13px;
  }
}

.btn-search {
  background-color: #22bcf0;
  border-radius: 0;
  color: #fff;
  margin-top: 25px;
  padding: 9px 12px;
  transition: background-color 0.3s;

  &:hover,
  &:focus {
    background-color: #06a5da;
    color: #fff;
  }
}
