<br/>
<br/>
<br/>
<br/>
<br/>
CATEGORIES LIST:

<% @categories.each do |t|%>
<ul>
  <li>id: <%= t.id %></li>
  <li>title: <%= t.title %></li>
  <li>description: <%= t.description %></li>
</ul>
<% end %>
